<div class="container">
  <h1> All movie lists </h1>

  <% if @lists.empty? %>
    <h5>Sorry we have no lists yet.</h5>
  <% else %>
    <ul>
    <% @lists.each do |list| %>
      <li>
       <%= link_to list.name, list_path(list) %>
       </li>
    <% end %>
    </ul>
  <% end %>
  <button type="button" class="btn btn-info">
    <%= link_to 'Create a new list', new_list_path%>
  </button>
</div>
