<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://media.istockphoto.com/id/869302366/de/foto/gestreifte-feld-mit-popcorn.jpg?s=612x612&w=is&k=20&c=gnOrMLrLrO7iOBQl5UrOv2YQgxTpyDR9DszVppdoxnM=');">
  <div class="container">
    <%= @list.name %>
  <br>
    <%= link_to 'Go back to your lists', lists_path%>
  </div>
</div>
